<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar Compra</title>
    <link rel="stylesheet" href="../styles/compras.css">
    <script type="module" src="../controller/compras_page.js" defer></script>
</head>

<body>
    <main class="cart-container-layout">
        <section class="cart-items-section">
            <h2 class="cart-section-title">SEU CARRINHO</h2>
            <div id="cart-items-list"></div>
        </section>

        <aside class="cart-summary-section" id="summary-container"></aside>
    </main>
</body>

</html>