<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discografia - 72 Seasons Guitar Shop</title>


    <link rel="stylesheet" href="../styles/discografia.css">

    <script type="module" src="../controller/discografia.js" defer></script>
</head>

<body>

    <header class="main-header">
        <div class="header-container">
            <div class="logo-area">
                <a href="../../home_page/view/home_page.html" class="logo-link">
                    <span class="logo-sub">72 SEASONS GUITARS</span>
                </a>
            </div>

            <nav class="main-nav">
                <ul class="nav-list">
                    <li class="nav-item"><a href="../../home_page/view/home_page.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item"><a href="discografia.html" class="nav-link active">Discografia</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Sobre</a></li>
                </ul>
                <div class="nav-actions">
                    <a href="#" class="btn-login">Sign Out</a>
                    <a href="#" id="header-cart-btn" class="btn-cart">🛒 CARRINHO (<span id="cart-count">0</span>)</a>
                </div>
            </nav>
        </div>
        <div class="header-bar"></div>
    </header>

    <main class="main-content">
        <div class="welcome-section">

            <section id="discography-section">
                <h2
                    style="color: var(--color-yellow); font-family: var(--font-primary); text-align: center; margin: 40px 0; letter-spacing: 3px;">
                    DISCOGRAFIA
                </h2>
                <div class="discography-grid">
                    <p style="text-align: center; color: var(--color-gray); grid-column: span 4;">
                        Os álbuns do Metallica e Megadeth entram aqui.
                    </p>
                </div>
            </section>

        </div>
    </main>

    <div id="cart-modal" class="modal-overlay" style="display: none;">
        <div class="modal-content">
            <button id="close-cart-btn" class="close-btn">X Fechar</button>
            <div class="cart-container-layout">
                <section class="cart-items-section">
                    <h2 class="cart-section-title">SEU CARRINHO</h2>
                    <div id="cart-items-list"></div>
                </section>
                <aside class="cart-summary-section" id="summary-container">
                </aside>
            </div>
        </div>
    </div>

</body>

</html>